<h1>Edit School Class Form</h1>

<%= form_for @sc do |f| %>
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>
    <p><%= f.label :room_number %>
    <%= f.number_field :room_number %></p>
    <%= f.submit "Update School class" %>
<% end %> 